.GenreCloud{
    display: flex;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 0 0 2em 2em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    flex-wrap: wrap;
    min-height: 60vh;
    align-items: start;
    gap: 2%;
}

.GenreCloud .GenreBadge{
    padding: 1.5em;
    width: 18%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    margin-right: 0;
    border-radius: 15px;
    margin-bottom: 1.5em;
}

.dark .GenreCloud{
    background-color: rgba(15, 22, 42, .9);
}

.dark .GenreCloud .GenreBadge{
    background-color: #3f3961;
}

.dark .GenreCloud .GenreBadge:hover{
    background-color: #8b6cca;
}