.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(5px) brightness(50%);
    border-radius: 2em 2em 0 0;
    padding: 1em 0;
    height: 85px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.4) 0px 0px 16px;
}

.Header a, .Header>div{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    width: 20%;
    text-align: center;
}

.Header a:hover,
.Header a[class="active"]{
    color: #fff;
}

.Header a:after{
    content: '';
    width: 60%;
    height: 1px;
    display: block;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -9px;
    transition: .3s background-color;
}

.Header a:hover:after,
.Header a[class="active"]:after{
    background-color: rgba(250, 250, 250, .3);
}

.Header a{
    position: relative;
}

.Header button:after{
    left: 15%;
    content: '';
    width: 1px;
    height: 64%;
    background: rgba(250, 250, 250, .3);
    display: block;
    position: absolute;
    transform: rotate(180deg) translateY(50%);
    top: 50%;
    z-index: 999999;
}

.Header>div:last-child:before{
    right: 15%;
    content: '';
    width: 1px;
    height: 64%;
    background: rgba(255, 255, 255, .3);
    display: block;
    position: absolute;
    transform: rotate(180deg) translateY(50%);
    top: 50%;
    z-index: 999999;
}

.HeaderTitle{
    background-color: rgba(255, 255, 255, .3);
    padding: 2em 1em;
}

.Header>div:first-child, .Header>div:last-child{
    width: 15%;
}

.Header button{
    background-color: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.Header button img{
    width: 20px;
}